<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/master}" >
<head>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">add</title>
</head>
<body>


<div layout:fragment="content" id="content-content" >


    <div class="container mt-5 p-5" >
        <div class="row">

            <div class="col-lg-9">
                <h5><strong style="color: #7c9bfa; font-family: Bayon "><u>បន្ថែមអត្ថបទ</u></strong></h5>
                <hr>
            </div>
            <div class="col-lg-3" style="text-align: center;">
                <a href="/index" class="btn btn-info" ><b th:text="#{all-article}">All Article</b></a>
                <hr>
            </div>

        </div>



        <div class="row" >
            <div class="col-lg-12">

                <form style="background-color: #f6ffe2 " action="/categories/add/submit" method="post" th:object="${category}">

                    <div class="row p-2" >
                        <div class="col-lg-6">
                            <div class="md-form">
                                <input type="text" id="title"  class="form-control" th:field="*{name}">
                                <label for="title">Category Name</label>


                            </div>

                        </div>

                    </div>


                    <input class="btn btn-info" type="submit">

                </form>

            </div>

        </div>




    </div>


</div>


<script layout:fragment="script">
    $(document).ready(function () {

    })
</script>






</body>
</html>