<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/master}" >
<head>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">all article</title>
</head>
<body>


<div layout:fragment="content" id="content-content" >


    <div class="container mt-5 p-5" >
        <div class="row">

            <div class="col-lg-9">
                <h5><strong style="color: #7c9bfa; font-family: Bayon "><u>ប្រភេទអត្ថបទ</u></strong></h5>
                <hr>
            </div>
            <div class="col-lg-3" style="text-align: center;">
                <a href="/categories/add" class="btn btn-info"><b>Add Category</b></a>
                <hr>
            </div>

        </div>


        <div class="row" >

            <div class="col-lg-12">

                <table class="table table-hover " width="100%">
                    <thead>
                    <tr>
                        <th width="20%"  class="table-primary">ID</th>
                        <th width="40%" class="table-info">Title</th>
                        <th width="40%" class="table-info">Action</th>

                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="cate : ${categoryList}" >
                            <td th:text="${cate.getId()}">1</td>
                            <td th:text="${cate.getName()}">name</td>
                            <td>
                                <a th:href="@{/categories/update/{id}(id=${cate.getId()})}" class="btn btn-primary">Edit</a>
                                <a th:href="@{/categories/delete/{id}(id=${cate.getId()})}" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="row" >
            <ul class="pagination no-margin " style="margin: auto !important;" >
                <li th:classappend="${paginate.page == 1 ? 'disabled-p' : ''}">
                    <a th:classappend="${paginate.page == 1 ? 'disabled-p' : ''}" th:href="@{/categories/all(page=1)}" >First</a></li>
                <li th:classappend="${paginate.page == 1 ? 'disabled-p' : ''}">
                    <a th:classappend="${paginate.page == 1 ? 'disabled-p' : ''}" th:href="@{/categories/all(page=${paginate.previousPage})}">«</a></li>

                <li th:classappend="${paginate.page == i} ? 'active-l' : ''"  th:each="i : ${#numbers.sequence(paginate.startPage,paginate.endPage)}">
                    <a th:classappend="${paginate.page == i} ? 'active-a' : ''" th:text="${i}" th:href="@{/categories/all(page=${i})}"></a>
                </li>

                <li th:classappend="${paginate.page == paginate.totalPages ? 'disabled-p' : ''}">
                    <a th:classappend="${paginate.page == paginate.totalPages ? 'disabled-p' : ''}" th:href="@{/categories/all(page=${paginate.nextPage})}">»</a></li>
                <li th:classappend="${paginate.page == paginate.totalPages ? 'disabled-p' : ''}">
                    <a th:classappend="${paginate.page == paginate.totalPages ? 'disabled-p' : ''}" th:href="@{/categories/all(page=${paginate.totalPages})}">Last</a></li>
            </ul>
        </div>







    </div>


</div>

<script layout:fragment="script">

    $(document).ready(function () {

    });
</script>






</body>
</html>