<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/master}" >
<head>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">all article</title>
</head>
<body>


<div layout:fragment="content" id="content-content" >


    <div class="container mt-5 p-5" >
        <div class="row">

            <div class="col-lg-3">
                <h5><strong style="color: #7c9bfa; font-family: Bayon "><u th:text="#{all-article}">អត្ថបទទាំងអស់</u></strong></h5>
                <hr>
            </div>
            <div class="col-lg-6">
                <form class="filter mb-3 mt-2" method="get" >
                    <div class="row">

                        <div class="col-lg-6">
                            <select class="browser-default custom-select filter_choose" th:field="${filter.cate_id}" >
                                <option value="">No filter</option>

                                <option th:each="cate : ${categoryList}" th:value="${cate.id}" th:text="${cate.name}">One</option>

                            </select>

                        </div>
                        <div class="col-lg-6">

                            <div class="input-group md-form form-sm form-2 pl-0">
                                 <input th:field="${filter.title}"   class="form-control my-0 py-1 red-border" type="text" th:placeholder="#{searchArticle}" aria-label="Search">
                                <div class="input-group-append">
                                    <button  type="submit" class="input-group-text lighten-3 " >
                                        <i class="fas fa-search text-grey" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>


                     </form>

            </div>

            <div class="col-lg-3" style="text-align: center;">
                <a href="/articles/add" class="btn btn-info"><b th:text="#{add-article}">Add Article</b></a>
                <hr>
            </div>

        </div>



        <div class="row" >

            <div class="col-lg-12">

                <table class="table table-hover " width="100%">
                    <thead>
                        <tr>
                            <th width="5%"  class="table-danger">ID</th>
                            <th width="10%" class="table-warning">Image</th>
                            <th width="15%" class="table-warning">Title</th>
                            <th width="15%" class="table-warning">Description</th>
                            <th width="10%" class="table-warning">Author</th>
                            <th width="10%" class="table-warning">Category</th>
                            <th width="15%" class="table-warning">Created Date</th>
                            <th width="20%" class="table-warning">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each=" art : ${articleList} "  >
                            <td scope="row" th:text="${art.getId()}"  class="table-id"></td>
                            <td >
                                <input class="image-icon" hidden th:value="${art.image}">
                                <img class="btn p-0 btn-image" th:src="'/images/'+${art.image}"   style="width: 70px; height:60px; ">
                            </td>
                            <td th:text="${art.getTitle()}"></td>
                            <td th:text="${art.getDescription()}"></td>
                            <td th:text="${art.getAuthor()}"></td>
                            <td th:text="${art.getCategory().getName()}"></td>
                            <td th:text="${art.getCreatedDate()}"></td>
                            <td style="text-align: center" id="act-btn">
                                <a th:href="@{/articles/one/{id}(id=${art.getId()})}" class="btn btn-info p-2" ><i class="fa fa-eye"></i></a>
                                <a th:href="@{/articles/update/{id}(id=${art.getId()})}" class="btn btn-success p-2"><i class="fa fa-edit"></i></a>
                                <a  th:href="@{/articles/delete/{id}(id=${art.getId()})}" class="btn btn-danger p-2 " ><i class="fa fa-trash"></i></a>
                            </td>

                        </tr>

                    </tbody>
                </table>

            </div>
        </div>



        <div class="row" >
            <ul class="pagination no-margin " style="margin: auto !important;" >
                <li th:classappend="${paginate.page == 1 ? 'disabled-p' : ''}" >
                    <a th:classappend="${paginate.page == 1 ? 'disabled-p' : ''}" th:href="@{/index(page=1)}" >First</a></li>
                <li th:classappend="${paginate.page == 1 ? 'disabled-p' : ''}">
                    <a th:classappend="${paginate.page == 1 ? 'disabled-p' : ''}" th:href="@{/index(page=${paginate.previousPage})}">«</a></li>

                <li th:classappend="${paginate.page == i} ? 'active-l' : ''"  th:each="i : ${#numbers.sequence(paginate.startPage,paginate.endPage)}">
                    <a th:classappend="${paginate.page == i} ? 'active-a' : ''" th:text="${i}" th:href="@{/index(page=${i})}"></a>
                </li>

                <li th:classappend="${paginate.page == paginate.totalPages ? 'disabled-p' : ''}">
                    <a th:classappend="${paginate.page == paginate.totalPages ? 'disabled-p' : ''}" th:href="@{/index(page=${paginate.nextPage})}">»</a></li>
                <li th:classappend="${paginate.page == paginate.totalPages ? 'disabled-p' : ''}">
                    <a th:classappend="${paginate.page == paginate.totalPages ? 'disabled-p' : ''}" th:href="@{/index(page=${paginate.totalPages})}">Last</a></li>
            </ul>
        </div>


    </div>


</div>

<script layout:fragment="script">
</script>






</body>
</html>