<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/master}" >
<head>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">update</title>
</head>
<body>


<div layout:fragment="content" id="content-content" >


    <div class="container mt-5 p-5" >
        <div class="row">

            <div class="col-lg-9">
                <h5><strong style="color: #7c9bfa; font-family: Bayon "><u>កែប្រែអត្ថបទ</u></strong></h5>
                <hr>
            </div>
            <div class="col-lg-3" style="text-align: center;">
                <a href="/index" class="btn btn-info" th:text="#{all-article}" ><b>All Article</b></a>
                <hr>
            </div>

        </div>



        <div class="row" >
            <div class="col-lg-12">

                <form style="background-color: #f6ffe2 " action="/articles/update/submit" method="post" th:object="${article}" enctype="multipart/form-data" >

                    <div class="row" >
                        <div class="col-lg-6">
                            <div class="md-form">
                                <input type="text" hidden th:field="*{id}">
                                <input type="text" id="title"  class="form-control" th:field="*{title}">
                                <label for="title">Title</label>
                            </div>
                            <div class="md-form">
                                <textarea id="description" class="md-textarea form-control" rows="3" th:field="*{description}"></textarea>
                                <label for="description">Material textarea</label>


                            </div>

                        </div>
                        <div class="col-lg-6">
                            <div class="md-form">
                                <input type="text" id="author"  class="form-control" th:field="*{author}">
                                <label for="author">Author</label>
                            </div>

                            <select th:field="${article.category.id}" class="browser-default custom-select" >
                                <option th:each="category:${categoryList}" th:value="${category.id}" th:text="${category.name}" >Open this select menu</option>
                            </select>

                            <input type="file" name="file" accept="image/x-png,image/gif,image/jpeg">
                            <button class="btn btn-primary" type="submit">Save</button>
                        </div>

                    </div>




                </form>

            </div>

        </div>



    </div>


</div>


<script layout:fragment="script">
    $(document).ready(function () {

    })
</script>






</body>
</html>