<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/master}" >
<head>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">all article</title>
</head>
<body>


<div layout:fragment="content" id="content-content" >


    <div class="container mt-5 p-5">

        <div class="row">

            <div class="col-lg-6">
                <h5><strong style="color: #7c9bfa; font-family: Bayon "><u>អត្ថបទលេខ [[${article.getId()}]]</u></strong></h5>
                <hr>
            </div>
            <div class="col-lg-3" style="text-align: center;">
                Author:<h5 style="background-color: #f9ffb3"> [[${article.getAuthor()}]]</h5>
                <hr>
            </div>
            <div class="col-lg-3" style="text-align: center;">
                <a href="/index" class="btn btn-primary " th:text="#{all-article}">All Article</a>
                <hr>
            </div>


        </div>

        <div class="row" >
            <div class="col-lg-1"></div>
            <div class="col-lg-7" style="background-color: #f8faf3">



                <h4 >[[${article.getTitle()}]]</h4><hr>
                <p >[[${article.getDescription()}]]</p>

            </div>
            <div class="col-lg-4">

                <div class="m-2" p-0 >
                    <img th:src="'/images/'+${article.image}" width="100%" height="250px" >
                </div>

            </div>
        </div>




    </div>



</div>







</body>
</html>